main {
	display: flex;
	flex-wrap: wrap;
	width: 450px;
}

div {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	margin: 5px;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}