body {
	background-color: black;
	color: white;
}

main {
	display: flex;
	flex-wrap: wrap;
	width: 450px;
}

div {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	margin: 5px;
}

#green {
	background-color: darkgreen;
}

#red {
	background-color: darkred;
}

#yellow {
	background-color: #DAA520;
}

#blue {
	background-color: darkblue;
}